@use 'variables';

.aside-title {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0;
  color: #242424;
  font-family: variables.$font-family;
  line-height: 20px;
  padding-bottom: 24px;
}

.topics-list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.topic-item {
  margin-bottom: 10px;
  display: flex;

  &-link {
    margin-right: 8px;
    border: none;
    cursor: pointer;
    padding: 0;
  }

  &-text {
    white-space: nowrap;
    transition: background 300ms ease;
    border-radius: 100px;
    padding: 8px 16px;
    border: 1px solid #f2f2f2;
    position: relative;
    background-color: #f2f2f2;
    color: #242424;
    font-size: 14px;
    font-family: variables.$font-family;
    line-height: 20px;
    font-weight: 400;
  }
}

.main-first {
  padding-top: 40px;
}

.sticky {
  position: sticky;
  top: 0px;
  padding-top: 40px;
}

.page {
  max-width: 1336px;
  margin: auto;
  display: block;
}

.main-layout {
  justify-content: space-evenly;
  flex-direction: row;
  display: flex;

  > main {
    flex: 1 1 auto;
    display: block;
  }

  > aside {
    min-height: 100vh;
    border-left: 1px solid rgb(242, 242, 242);
    padding-right: 24px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 1);
  }
}

/* Media queries */

@media all and (min-width: 1080px) {
  .mobile-only {
    display: none !important;
  }

  .main-layout {
    > main {
      min-width: 728px;
      max-width: 728px;
    }

    > aside {
      max-width: 368px;
      min-width: 368px;
      padding-left: clamp(24px, -1056px + 100vw, 40px);
      display: block;
    }

    .article-item {
      > article {
        max-width: 680px;
      }
    }
  }
}

@media all and (min-width: 904px) and (max-width: 1079.98px) {
  .mobile-only {
    display: none !important;
  }

  // iPad Pro

  .main-layout > main {
    min-width: 0px;
  }

  .main-layout > aside {
    max-width: 352px;
    min-width: 352px;
    padding-left: 24px;
    display: block;
  }
}

@media all and (min-width: 728px) and (max-width: 903.98px) {
  .mobile-only {
    display: none !important;
  }

  // iPad mini

  .main-layout > main {
    min-width: 0px;
  }

  .main-layout > aside {
    display: none;
  }
}

@media all and (max-width: 551.98px) {
  .mobile-hide {
    display: none !important;
  }

  // Pixel 7

  .main-layout > main {
    min-width: 0px;
  }

  .main-layout > aside {
    display: none;
  }
}
