@use "base";
@use "hljs";

$font-family: sohne,
"Helvetica Neue",
Helvetica,
Arial,
sans-serif;
$font-family-article: source-serif-pro,
Georgia,
Cambria,
"Times New Roman",
Times,
serif;
$font-family-code: source-code-pro,
Menlo,
Monaco,
"Courier New",
Courier,
monospace;
// $font-family: sohne, "PT Sans", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;


.aside-title {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0;
  color: #242424;
  font-family: $font-family;
  line-height: 20px;
  padding-bottom: 24px;
}

.topics-list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.topic-item {
  margin-bottom: 10px;
  display: flex;

  &-link {
    margin-right: 8px;
    border: none;
    cursor: pointer;
    padding: 0;
  }

  &-text {
    white-space: nowrap;
    transition: background 300ms ease;
    border-radius: 100px;
    padding: 8px 16px;
    border: 1px solid #F2F2F2;
    position: relative;
    background-color: #F2F2F2;
    color: #242424;
    font-size: 14px;
    font-family: $font-family;
    line-height: 20px;
    font-weight: 400;
  }
}


.main-first {
  padding-top: 40px;
}

.article-list {
  display: flex;
  flex-wrap: wrap;
}

.article-item {
  max-height: 450px;
  transition: opacity 300ms 300ms, max-height 300ms;
  overflow: hidden;
  opacity: 1;

  justify-content: center;
  display: flex;

  >article {
    margin: 32px 24px 0;
    min-width: 0;
    width: 100%;
    box-sizing: border-box;
  }

  &:nth-child(1) {
    >article {
      margin-top: 0px;
    }
  }
}

.article-content {
  display: flex;

  &-info {
    flex: 1 1 auto;
    word-break: break-word;
    display: block;
  }

  &-title {
    font-family: $font-family;
    color: #242424;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }

  &-desc {
    margin-top: 8px;
    font-weight: 400;
    line-height: 20px;
    font-family: $font-family;
    color: #6B6B6B;
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    max-height: 40px;
    -webkit-line-clamp: 2;
  }

  &-date {
    height: 48px;
    justify-content: space-between;
    display: flex;
    font-size: 13px;
    color: #6B6B6B;
    font-family: $font-family;
    line-height: 20px;
    font-weight: 400;
    align-items: center;
  }
}


.sticky {
  position: sticky;
  top: 0px;
  padding-top: 40px;
}

.article-separator {
  border-bottom: solid 1px #F2F2F2;
  width: 100%;
  height: 0px;
  margin-top: 20px;
}

.article-item:nth-child(1)>article>.article-author {
  margin-top: 0px;
}

.article-layout {

  word-wrap: break-word;
  word-break: break-word;
  display: flex;
  justify-content: center;


  >.container {
    width: 100%;
    min-width: 0;
    margin: 0 24px;
  }



}

.post-title {
  font-family: $font-family;
  color: #242424;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0;
  line-height: 1.23;
  margin-bottom: 24px;
  margin-top: 1.19em;
}

.post-content {

  blockquote {
    box-shadow: rgb(36, 36, 36) 3px 0px 0px 0px inset;
    padding-left: 23px;
    margin-left: -20px;
  }

  li {
    font-weight: 400;
    color: #242424;
    font-style: normal;
    line-height: 1.58;
    letter-spacing: -0.004em;
    font-family: $font-family-article;
    margin-bottom: -0.46em;
    margin-top: 1.14em;
  }

  ol {
    li {
      list-style-type: decimal;
      margin-left: 30px;
      padding-left: 0px;

    }
  }

  ul {
    li {
      list-style-type: disc;
      margin-left: 30px;
      padding-left: 0px;
    }
  }


  p {
    font-weight: 400;
    color: #242424;
    word-break: break-word;
    font-style: normal;
    line-height: 1.58;
    letter-spacing: -0.004em;
    font-family: $font-family-article;
    margin-bottom: -0.46em;

    >code {
      font-weight: 400;
      background-color: #F2F2F2;
      font-family: $font-family-code;
      padding: 2px 4px;
      font-size: 75%;
    }
  }

  pre {
    background: #F9F9F9;
    color: #242424;
    border-radius: 4px;
    overflow-x: auto;
    font-family: $font-family-code;
    padding: 32px;
    border: 1px solid rgb(229, 229, 229);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font-family;
    color: #242424;
    font-style: normal;
    line-height: 1.12;
    letter-spacing: -0.022em;
    font-weight: 600;
    margin-bottom: -0.28em;
  }

  h2 {
    font-family: $font-family;
    color: #242424;
    font-style: normal;
    letter-spacing: -0.022em;
    font-weight: 600;
    line-height: 1.18;
    margin-bottom: -0.31em;
  }

  a {
    color: inherit;
    text-decoration: underline;
  }

  strong {
    font-weight: 700;
    font-family: $font-family-article;
  }


}

.page {
  max-width: 1336px;
  margin: auto;
  display: block
}

.main-layout {
  justify-content: space-evenly;
  flex-direction: row;
  display: flex;

  >main {
    flex: 1 1 auto;
    display: block;
  }

  >aside {
    min-height: 100vh;
    border-left: 1px solid rgb(242, 242, 242);
    padding-right: 24px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 1);
  }
}

.post-info {
  display: flex;
  align-items: center;

  &-author {
    margin-left: 12px;
  }

  .author-photo-link {
    position: relative;
  }

  .author-photo {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: block;
    background-color: #F2F2F2;
    box-sizing: border-box;
  }
  .author-photo-shadow {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: none;
    position: absolute;
    top:0px;
  }

  .author-name {
    color: #242424;
    font-family: $font-family;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  &-date {
    font-size: 14px;
    color: #6B6B6B;
    line-height: 20px;
    font-family: $font-family;
    font-weight: 400;

    display: flex;

    .separator {
      padding-left: 8px;
      padding-right: 8px;
    }
  }
}

.article-footer {
  .container {
    display: flex;
    justify-content: center;

    .content {
      margin: 0 24px;
      min-width: 0;
      width: 100%;

      .space {
        margin-bottom: 40px;
        height: 0px;
        width: 100%;
      }
    }
  }

  .author-section {
    display: flex;

    &-left {
      justify-content: space-between;
      display: flex;

      .avatar-box {
        position: relative;
      }
    }

    .author-name {
      color: rgb(36, 36, 36);
      font-family: $font-family;
      font-size: 20px;
      font-weight: 500;
      letter-spacing: normal;
      line-height: 24px;
      padding-right: 4px;
    }

    .author-summary {
      color: rgb(36, 36, 36);
      font-family: $font-family;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      margin-top: 8px;
    }
  }

  .avatar {
    border-radius: 50%;
    display: block;
    box-sizing: border-box;
    background-color: #F2F2F2;
    width: 48px;
    height: 48px;
  }

  .avatar-big {
    border-radius: 50%;
    display: block;
    box-sizing: border-box;
    background-color: #F2F2F2;
    width: 64px;
    height: 64px;
  }

  .avatar-big-shadow, .avatar-shadow {
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05);
    border: none;
    position: absolute;
    top:0;
  }

  .avatar-big-shadow {
    width: 64px;
    height: 64px;
  }

  .avatar-shadow {
    width: 48px;
    height: 48px;
  }
}


.post-tags {
  padding:40px 0;
  margin-top: 6px;
  border-bottom: 1px solid #F2F2F2;
}

/* Media queries */

@media all and (min-width: 1080px) {

  .mobile-only {
    display: none !important;
  }

  .article-footer {
    margin-bottom: 104px;

    .author-section {
      flex-direction: row;
      

      &-left {
        margin-right: 20px;
        margin-bottom: 0;
      }

      .author-name {
        line-height: 24px;
        font-size: 20px;
        letter-spacing: 0;
      }
    }

    .container {
      .content {
        max-width: 680px;
      }


    }
  }

  .post-content {



    p,
    li {
      font-size: 20px;
      margin-top: 2.14em;
      line-height: 32px;
      letter-spacing: -0.003em;
    }

    li:not(:first-child) {
      margin-top: 1.14em;
    }

    h1 {
      font-size: 24px;
      line-height: 30px;
      letter-spacing: -0.016em;
      margin-top: 1.95em;
    }

    h2 {
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0;
      margin-top: 1.72em;
    }

    h3 {
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0;
      margin-top: 1.6em;
    }

    h4 {
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0;
      margin-top: 1.5em;
    }

    h5 {
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0;
      margin-top: 1.4em;
    }

    h6 {
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0;
      margin-top: 1.3em;
    }


    pre {
      margin-top: 56px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      &+p {
        margin-top: 0.94em;
      }
    }


  }

  .main-layout {
    >main {
      min-width: 728px;
      max-width: 728px;
    }

    >aside {
      max-width: 368px;
      min-width: 368px;
      padding-left: clamp(24px, -1056px + 100vw, 40px);
      display: block;
    }

    .article-item {
      >article {
        max-width: 680px;
      }
    }
  }

  .article-content {
    &-title {
      font-size: 24px;
      letter-spacing: -0.016em;
      max-height: 90px;
      -webkit-line-clamp: 3;
    }

    &-date {
      margin-top: 10px;
    }

    &-image {
      margin-left: 56px;

      &-mobile {
        display: none;
      }
    }
  }


  .post-title {
    letter-spacing: -0.011em;
    line-height: 52px;
    margin-top: 1.19em;
    font-size: 42px;
    margin-bottom: 32px;
  }


  .article-layout>.container {
    max-width: 680px;
  }
}

@media all and (min-width: 904px) and (max-width: 1079.98px) {

  .mobile-only {
    display: none !important;
  }

  .article-footer {
    margin-bottom: 104px;

    .author-section {
      flex-direction: row;

      &-left {
        margin-right: 20px;
        margin-bottom: 0;
      }

      .author-name {
        line-height: 24px;
        font-size: 20px;
        letter-spacing: 0;
      }
    }

    .container {
      .content {
        max-width: 680px;
      }
    }
  }

  // iPad Pro

  .post-content {

    p,
    li {
      font-size: 20px;
      margin-top: 2.14em;
      line-height: 32px;
      letter-spacing: -0.003em;
    }

    li:not(:first-child) {
      margin-top: 1.14em;
    }

    h1 {
      font-size: 24px;
      line-height: 30px;
      letter-spacing: -0.016em;
      margin-top: 1.95em;
    }

    h2 {
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0;
      margin-top: 1.72em;
    }

    h3 {
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0;
      margin-top: 1.6em;
    }

    h4 {
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0;
      margin-top: 1.5em;
    }

    h5 {
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0;
      margin-top: 1.4em;
    }

    h6 {
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0;
      margin-top: 1.3em;
    }


    pre {
      margin-top: 56px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      &+p {
        margin-top: 0.94em;
      }
    }
  }


  .main-layout>main {
    min-width: 0px;
  }

  .main-layout>aside {
    max-width: 352px;
    min-width: 352px;
    padding-left: 24px;
    display: block;
  }

  .article-item>article {
    max-width: 680px;
  }

  .article-content-title {
    font-size: 24px;
    letter-spacing: -0.016em;
    max-height: 90px;
    -webkit-line-clamp: 3;
    line-height: 30px;
  }

  .article-content {

    &-image {
      margin-left: 56px;

      &-mobile {
        display: none;
      }
    }
  }

  .post-title {
    letter-spacing: -0.011em;
    line-height: 52px;
    margin-top: 1.19em;
    font-size: 42px;
    margin-bottom: 32px;

  }
}

@media all and (min-width: 728px) and (max-width: 903.98px) {

  .mobile-only {
    display: none !important;
  }

  .article-footer {
    margin-bottom: 104px;

    .author-section {
      flex-direction: row;

      &-left {
        margin-right: 20px;
        margin-bottom: 0;
      }

      .author-name {
        line-height: 24px;
        font-size: 20px;
        letter-spacing: 0;
      }
    }

    .container {
      .content {
        max-width: 680px;
      }
    }
  }

  // iPad mini

  .post-content {

    p,
    li {
      font-size: 20px;
      margin-top: 2.14em;
      line-height: 32px;
      letter-spacing: -0.003em;
    }

    li:not(:first-child) {
      margin-top: 1.14em;
    }

    h1 {
      font-size: 24px;
      line-height: 30px;
      letter-spacing: -0.016em;
      margin-top: 1.95em;
    }

    h2 {
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0;
      margin-top: 1.72em;
    }

    h3 {
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0;
      margin-top: 1.6em;
    }

    h4 {
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0;
      margin-top: 1.5em;
    }

    h5 {
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0;
      margin-top: 1.4em;
    }

    h6 {
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0;
      margin-top: 1.3em;
    }


    pre {
      margin-top: 56px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      &+p {
        margin-top: 0.94em;
      }
    }
  }

  .main-layout>main {
    min-width: 0px;
  }

  .main-layout>aside {
    display: none;
  }

  .article-content {

    &-image {
      margin-left: 56px;

      &-mobile {
        display: none;
      }
    }
  }
}

@media all and (max-width: 551.98px) {

  .mobile-hide {
    display: none !important;
  }

  .article-footer {
    margin-bottom: 96px;

    .author-section {
      flex-direction: column;

      &-left {
        margin-right: 0px;
        margin-bottom: 20px;
      }

      .author-name {
        line-height: 30px;
        font-size: 24px;
        letter-spacing: -0.016em;
      }
    }
  }



  // Pixel 7

  .post-content {

    p,
    li {
      font-size: 18px;
      margin-top: 1.56em;
      line-height: 28px;
      letter-spacing: -0.003em;
    }

    li:not(:first-child) {
      margin-top: 1.34em;
    }

    h1 {
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0px;
      margin-top: 1.2em;
    }

    h2 {
      letter-spacing: 0;
      font-size: 16px;
      margin-top: 1.23em;
      line-height: 20px;
    }

    h3 {
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0;
      margin-top: 1.25em;
    }

    h4 {
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0;
      margin-top: 1.27em;
    }

    h5 {
      font-size: 10px;
      line-height: 14px;
      letter-spacing: 0;
      margin-top: 1.3em;
    }

    h6 {
      font-size: 9px;
      line-height: 12px;
      letter-spacing: 0;
      margin-top: 1.33em;
    }


    pre {
      margin-top: 40px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      &+p {
        margin-top: 0.67em;
      }
    }
  }

  .main-layout>main {
    min-width: 0px;
  }

  .main-layout>aside {
    display: none;
  }

  .article-content-title {
    -webkit-line-clamp: 4;
    max-height: 96px;
    letter-spacing: 0;
    font-size: 20px;
    line-height: 24px;
  }

  .article-content-image {
    margin-left: 24px;
  }

  .article-content-image-desktop {
    display: none;
  }

  .article-content-date {
    margin-top: 12px;
  }
}